* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("./Assets/bg.jpg");
  background-size: cover;
  color: white;
}

section {
  display: grid;
  grid-template-columns: 45% 20%;
  gap: 100px;
}

section > div {
  margin: 45px;
}

section > div > div {
  margin-top: 20px;
}

#scores {
  border: 1px solid black;
}

#scores > div {
  padding: 5px;
}

#scores :nth-child(even) {
  background-color: rgb(139, 139, 139);
}

#add input {
  display: block;
  margin: 12px 1px;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
}

button {
  box-shadow: 1px 2px 2px 1px black;
}

#submit {
  float: right;
}

li {
  list-style-type: none;
  padding: 10px;
  background-color: rgb(201, 199, 199);
  box-shadow: 1px 2px 2px 2px rgb(133, 133, 133);
  border-radius: 25px;
  margin-top: 10px;
  color: black;
}

h3 {
  display: inline-block;
}

#refresh {
  margin-left: 10px;
}
